<app-form (addQuote)="addNewQuote($event)"></app-form>
<div *ngFor="let Quote of quoteGenerator;let i=index">
  <h1>Quotee</h1>
  <div>
    <p>
      <i class="fa fa-quote-left"></i>{{Quote.quote}}
      <i class="fa fa-quote-right"></i>
    </p>
    <p>author: {{Quote.author}}</p>
    <p>Submitted by {{Quote.userName}}</p>
  </div>
  <div>
    <button><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
    <span></span>
    <button><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
  </div>
  <div>
    <button (click)="del(i)">delete</button>
  </div>
</div>